


<div class="container">
	<div class="row center-row1">

		<div class="col-md-3">
		</div>

		<div class="col-md-3">
		<%= link_to("CONCERTS", concerts_path, class: "btn btn-default boton_concerts")%>
		</div>

		<div class="col-md-3">
		<%= link_to("NEW CONCERT", new_concert_path, class: "btn btn-default boton_concerts") %>

		</div>

		<div class="col-md-3">
		</div>
	</div>

	<div class="row">
		
		<div class="col-md-6">
		hola
			
		</div>


		<div class="col-md-6">
		chao
			
		</div>

	</div>
</div>
